
/* Body styling for the background and text */
body {
    font-family: 'futura';
    background-color: #F1EAD8;
    color: #68604D;
    margin: 0;
    padding-top: 40px; 
}

/* Main container */
.main-container {
    max-width: 1100px; 
    width: 100%; 
    margin: 0 auto; 
}

/* Banner inside the main container */
#banner {
    width: 1100px; 
    height: 250px; 
    background-image: url('images/moontrees.png'); 
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0 0 0; 
    position: relative;
    margin: 0 auto 40px auto; 
}

/* Concentric circles ("Moon") */
.circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(239, 227, 189, 0.3);
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    transition: transform 0.4s ease;
    cursor: pointer;
}

/* Outer circle */
.outer {
    width: 250px;
    height: 250px;
}

/* Middle circle */
.middle {
    width: 200px;
    height: 200px;
}

/* Inner circle */
.inner {
    width: 150px;
    height: 150px;
}

.circle:hover {
    transform: translate(-50%, -50%) scale(1.2); 
}

#banner h1, #banner h2 {
    position: relative;
    z-index: 2;
}

#banner h1 {
    font-size: 3em;
    margin: 0;
    color: #68604D;
    font-weight: 300;
    text-transform: uppercase;
}

#banner h2 {
    font-size: 1.2em;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    top: 20px;
}

/* Flexbox layout */
main {
    display: flex;
    justify-content: space-between;
    gap: 80px; 
}

/* Keyframes animation for border color change */
@keyframes changeBorderColors {
    0% {
        border-color: #BEC5A4;
    }
    25% {
        border-color: #8A8E75;
    }
    50% {
        border-color: #68604D;
    }
    75% {
        border-color: #8A8E75;
    }
    100% {
        border-color: #BEC5A4;
    }
}

section {
    width: calc(33.333% - 20px); 
    text-align: center;
    border: 5px solid #BEC5A4; 
    padding: 20px;
    background-color: #F1EAD8; 
    min-height: 330px;
    animation: changeBorderColors 8s infinite;
}

section h2 {
    color: #8A8E75; 
    font-weight: bold;
    font-size: 1.5em;
    text-transform: lowercase;
}

h2 {
    font-weight: bold;
    font-size: 1.5em;
    text-transform: lowercase;
}

/* Lists */
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

ul li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #68604D;
    font-size: 1.1em;
}

/* Footer */
footer {
    text-align: left;
    padding-left: 20px;
    margin-top: 50px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #68604D;
}
