body {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffff;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    background-image: url('images/starbackground.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

#top-half {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-half {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#gamecontrol {
    display: flex;
    gap: 10px; 
}

button {
    padding: 10px 15px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2em;
    color: rgb(142, 53, 226);
}

.overlay {
   display:none; 
   position:fixed; 
   top:0; 
   left:0; 
   width:100%; 
   height:100%; 
   background-color:rgba(0,0,0,0.6); 
   z-index: 1000; 
}

.overlay-content {
   position:relative; 
   top:25%; 
   margin:auto; 
   padding:20px; 
   background-color:black;
   font-size: 1.5em; 
   width: 50%; 
}

.close {
   position:absolute; 
   top:10px; 
   right:20px; 
   font-size:30px; 
   cursor: pointer; 
}


#game {
   display:flex; 
   flex-direction:column; 
   justify-content:center; 
   align-items:center; 
}

#dice-area, #score, #actions {
   text-align:center; 
   margin-bottom:10px; 
}

.player-img {
    width: 450px; 
    position: absolute;
    animation: hoverUpDown 2s infinite alternate ease-in-out; 
}

@keyframes hoverUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); 
    }
    100% {
        transform: translateY(0); 
    }
}

#player1-img {
    top: 46%; 
    left: 70px; 
 }
 
 #player2-img {
    bottom: 13%; 
    right:90px; 
    width: 300px
 }

.winner-gif {
   width:auto;  
}
