
body {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffff;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    background-image: url('images/starbackground.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

#top-half {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-half {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#gamecontrol {
    display: flex;
    gap: 10px; 
    /* transform: translateX(-150px); */
    align-items: center;
    position: fixed;
}

button {
    padding: 10px 10px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2em;
    color: rgb(142, 53, 226);
    cursor: pointer;
}

.overlay {
   display:none; 
   position:fixed; 
   top:0; 
   left:0; 
   width:100%; 
   height:100%; 
   background-color:rgba(0,0,0,0.6); 
   z-index: 1000; 
}

.overlay-content {
   position:relative; 
   top:25%; 
   margin:auto; 
   padding:20px; 
   background-color:black;
   font-size: 1.5em; 
   width: 50%; 
}

.close {
   position:absolute; 
   top:10px; 
   right:20px; 
   font-size:30px; 
   cursor: pointer; 
}



 #dice-area, #score {
   text-align:center; 
   /* margin-bottom:10px;  */
   align-self: center;
}


#dice1, #dice2 {
    width: 10%;
    align-self: center;
    transform: translateY(20px);
}

.player-img {
    width: 450px; 
    position: absolute;
    animation: hoverUpDown 2s infinite alternate ease-in-out; 
}

@keyframes hoverUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); 
    }
    100% {
        transform: translateY(0); 
    }
}

#player1-img {
    top: 46%; 
    left: 70px; 
 }
 
 #player2-img {
    bottom: 13%; 
    right: 90px; 
    width: 300px
 }

 #player1-img.winner-gif {
   width:50%;
   position: absolute;  
   left: 180px;
   top: 46%;
   transform: translate(-250px, -250px);

}

#player2-img.winner-gif {
    width:50%;  
    position: absolute;
    right: 110px;
    bottom: 13%;
    transform: translateX(250px);
 }

#game {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 20px; 
    transform: translate(2px, -100px);
    align-self: center;
}

#game img {
    width: 100px; 
    height: 100px; 
}

.scoreboard {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    /* display: flex; */
    /* gap: 10px; */
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 40px;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    width: 40%;
    height: 10%;

}

.score-container{
    display: flex;
    /* flex-direction: row; */
    /* text-align: center; */
    /* gap: 30px; */
    justify-content: center;
    align-items: center;


}


.player-score {
    font-size: 4em;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    /* justify-self: center; */
}

.player-name-1 {
    font-size: 1.5em;
    color: #8e8e8e;
    margin-top: 5px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    justify-self:center;
}

.player-name-2 {
    font-size: 1.5em;
    color: #8e8e8e;
    margin-top: 5px;
    position: absolute;
    right:20px;
    bottom: 10px;
    justify-self: center;

}

#player1-score{
    position: absolute;
    left: 25px;
    bottom: 50px;
}

#player2-score{
    position: absolute;
    right: 25px;
    bottom: 50px;
}

#actions{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.message{
    transform: translateY(75px);
    position: fixed;
}
.message h2 {
    margin: auto;
}

#rollagain, #pass{
    transform: translateY(-15px);
}
