body {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffff;
    margin: 0;
    padding: 0;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    background-image: url('images/starbackground.png'); /* Path to your background image */
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

#top-half {
    flex: 1; /* Take up half of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-half {
    flex: 1; /* Take up the other half of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

#gamecontrol {
    display: flex;
    gap: 10px; /* Space between buttons */
}

button {
    padding: 10px 15px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2em;
    color: rgb(142, 53, 226);
}

.overlay {
   display:none; 
   position:fixed; 
   top:0; 
   left:0; 
   width:100%; 
   height:100%; 
   background-color:rgba(0,0,0,0.6); 
   z-index: 1000; /* Ensure overlay is on top */
}

.overlay-content {
   position:relative; 
   top:25%; 
   margin:auto; 
   padding:20px; 
   background-color:black;
   font-size: 1.5em; 
   width: 50%; 
}

.close {
   position:absolute; 
   top:10px; 
   right:20px; 
   font-size:30px; 
   cursor: pointer; /* Change cursor to pointer on hover */
}


#game {
   display:flex; 
   flex-direction:column; 
   justify-content:center; 
   align-items:center; 
}

#dice-area, #score, #actions {
   text-align:center; 
   margin-bottom:10px; /* Add some spacing between elements */
}

.player-img {
    width: 450px; /* Adjust size as needed */
    position: absolute;
    animation: hoverUpDown 2s infinite alternate ease-in-out; /* Infinite loop */
}

@keyframes hoverUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Move up */
    }
    100% {
        transform: translateY(0); /* Move back to original position */
    }
}

#player1-img {
    top: 46%; /* Adjust for vertical positioning */
    left: 70px; /* Fixed position on the left */
 }
 
 #player2-img {
    bottom: 13%; /* Adjust for vertical positioning */
    right:90px; /* Fixed position on the right */
    width: 300px
 }


/* Winning gif styles */
.winner-gif {
   width:auto;  
}
